<%= render "shared/top_of_page" %>
<br>
<br>
<%= link_to "Sign the Petition!", new_signature_path %>

<h1>Signatures</h1>

<ul>
  <% @signatures.each do |signature| %>
    <li>
        <%= link_to signature.name, signature %>
        <%= signature.city_state %>
        <%= signature.country %>
    </li>
  <% end %>
</ul>

<a href="/about_us/"> About Us </a>
<a href="/contact_us/"> Contact Us </a>
<a href="https://teespring.com/stores/carbon-tax-now?scrlybrkr=f17f3dec" target=”_blank”> Visit Our Store </a>